*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width:100% ;
    height:100vh;
    margin:auto;
    position: relative;
    overflow:hidden;
    background:linear-gradient(blue, skyblue);
    background-repeat: no-repeat;
    background-attachment:fixed ;
}

nav{
    width:80%;
    position:sticky;
    margin:20px auto;
    z-index:1;
    display:flex;
    align-items:center;
}
.logo{
    flex-basis:20%;
}
.logo img{
    width:100px;


}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    margin:0 20px;

}
.nav-links ul li a{
    color:#fff;
    text-decoration:none;
}
.nav-links ul div{
    position:relative;
top: 230px;
right:60px;

}
.nav-links ul div img{
    position:relative;

}
.nav-links ul div h3{
    position:relative;
}
.information{
    width:880px;
    height:880px;
    position:absolute;
    top:50%;
    left:-10%;
    transform:translateY(-50%);
}
#circle{
    width:880px;
    height:880px;
    position:absolute;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
   border-radius:50%;
  transform:rotate(0deg);
  transition:1s;
}
.feature img{
    width: 50px;
    
}
.feature{
    position:absolute;
    display:flex;
    color:#fff;
}
.feature div{
    margin: left 30px;
}
.feature div p{
    margin-top:8px;
}
.one{
    top:450px;
    right:50px;
}
.two{
    top:100px;
    left:350px;
    transform:rotate(-90deg);
}
.three{
    bottom: 450px;
    left:50px;
    transform:rotate(-180deg);
}
.four{
    bottom: 150px;
    right:350px; 
    transform:rotate(-270deg);
}
.mobile{
    width:100px;
    position:absolute;
    top:48%;
    left:45%;
    transform:translateY(-50%);
    z-index:1;
    
}


#hope{
    width:15px;
    cursor:pointer;
}

#joseph{
    width:15px;
    cursor:pointer;
    transform:rotate(180deg);
}
.overlay{
    width:0;
    height:0;
    border-top:500px solid white;
    border-right:500px solid transparent;
    border-left:500px solid white;
    border-bottom:500px solid white;
    position:absolute;
    left:0;
    top:0;
}